body {
font-family:Helvetica, sans-serif;
margin: 0;
}

.container{
	margin:0 auto;
	width: 960px;
	text-align: center;
}

.basic-title {
	color:00A3CC;
	background-color:#FFFFFF;
	font-size:28px;
	font-style:bold;
	text-align: center;
}

h3 {
    color:00A3CC;
    text-align: left;
}

h4 {
    text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.basic-text {
display:flex;
justify-content: center;

}

.left-text {
    text-align: left;
}

a:link, a:visited {
    display: block;
    width: 240px;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    background-color: #00A3CC;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #0082A3;
}

#project-title {
	background-color: purple;
	margin:0 auto;
	width: 960px;
	color: white;
	font-size: 24px;
	padding: 14px;
	margin:5 auto;

	

}

#plain-link {
    text-align: left;
    color:00A3CC;
    background-color: #FFFFFF;
    display:inline;
    text-transform: none;
    font-size: 16px;
    padding: 0px;
}

[type="button"] {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 5px 10px 6px;
	margin: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}


.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
rect {
	  fill-opacity: .85;
}

rect:hover {
	fill: black;
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
  border-radius: 0px; 
  content: "+"; 
  color: #fff; 
  float: left; 
  font-size: 20px;
  font-weight: bold; 
  margin: -45px 0 20px 0; 
  padding: 0; 
  text-align: center; 
  width: 50px;
}

details[open] summary:after {
  content: "-";
}
