<!-- base.html -->
<!-- dara makes a webpage-->

<html>

<head>

<link rel="stylesheet" type="text/css" href="dara.css">



<title>Dara Strauss-Albee's webpage</title>

</head>

<body>

<section class="container">

<nav class="basic-text">
  <div><a href="/" title="Dara Strauss-Albee's Homepage">Home</a></div>
  <div><a href="/publications" title="Publications">Publications</a></div>
  <div><a href="/projects" title="Data Projects">Data Projects</a></div>
</nav>

{% block body %}{% endblock %}

<nav class="basic-text">
  <div><a href="https://www.linkedin.com/pub/dara-strauss-albee/15/347/201" >LinkedIn</a></div>
  <div><a href="https://twitter.com/dstraussalbee" >Twitter</a></div>
  <div><a href="https://github.com/straussalbee" >Github</a></div>
</nav>

</section>

<script src="dara.js"></script>
</body>


</html>


